{% extends "auctions/layout.html" %}

{% block body %}
<form action="{% url 'product_form' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Product Details</h2>
    <p>Name of Product:  {{Details.name}}</p>
    <p>Category: {{Details.category}}</p>
<!--    <p>Image of Product: {{Details.image}}</p> -->
    <input type="file" name="upload" accept=".jpg, .png">
    <br>
    <p>Product Description:
                             {{Details.caption}}</p>
    <p>Bid Amount: {{Details.price}}</p>
<input type="submit">
</form>

{% endblock %}